In [1]:
import pandas as pd
#import geopy
import numpy as np
#import matplotlib.pyplot as plt
import datetime
from datetime import datetime
#import geopandas as gpd
#from shapely.geometry import Point
#import seaborn as sns

In [2]:
#Reading CSV files of Divvy Data
df1 = pd.read_csv('Dataset/Divvy_Trips_2019_Q1.csv')
df2 = pd.read_csv('Dataset/Divvy_Trips_2019_Q2.csv')
df3 = pd.read_csv('Dataset/Divvy_Trips_2019_Q3.csv')
df4 = pd.read_csv('Dataset/Divvy_Trips_2019_Q4.csv')

In [3]:
#Data of Quarter-1
df1.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0

In [5]:
df1.shape

(365069, 12)

In [6]:
#Data of Quarter-2
df2.head()

,01 - Rental Details Rental ID,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,Member Gender,05 - Member Details Member Birthday Year
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,Male,1975.0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174,Canal St & Madison St,Subscriber,Male,1990.0
3,22178532,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133,Kingsbury St & Kinzie St,Subscriber,Male,1993.0
4,22178533,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,"1,007.0",202,Halsted St & 18th St,129,Blue Island Ave & 18th St,Subscriber,Male,1992.0

In [7]:
df2.shape

(1108163, 12)

In [8]:
#Renaming columns of Quarter-2
df2.columns = ['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear']

In [9]:
#Renamed Data of Quarter-2
df2.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,Male,1975.0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174,Canal St & Madison St,Subscriber,Male,1990.0
3,22178532,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133,Kingsbury St & Kinzie St,Subscriber,Male,1993.0
4,22178533,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,"1,007.0",202,Halsted St & 18th St,129,Blue Island Ave & 18th St,Subscriber,Male,1992.0

In [10]:
df2.shape

(1108163, 12)

In [11]:
#Data of Quarter-3
df3.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,23479388,2019-07-01 00:00:27,2019-07-01 00:20:41,3591,"1,214.0",117,Wilton Ave & Belmont Ave,497,Kimball Ave & Belmont Ave,Subscriber,Male,1992.0
1,23479389,2019-07-01 00:01:16,2019-07-01 00:18:44,5353,"1,048.0",381,Western Ave & Monroe St,203,Western Ave & 21st St,Customer,NaN,NaN
2,23479390,2019-07-01 00:01:48,2019-07-01 00:27:42,6180,"1,554.0",313,Lakeview Ave & Fullerton Pkwy,144,Larrabee St & Webster Ave,Customer,NaN,NaN
3,23479391,2019-07-01 00:02:07,2019-07-01 00:27:10,5540,"1,503.0",313,Lakeview Ave & Fullerton Pkwy,144,Larrabee St & Webster Ave,Customer,NaN,NaN
4,23479392,2019-07-01 00:02:13,2019-07-01 00:22:26,6014,"1,213.0",168,Michigan Ave & 14th St,62,McCormick Place,Customer,NaN,NaN

In [12]:
df3.shape

(1640718, 12)

In [13]:
#Data of Quarter-4
df4.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,25223640,2019-10-01 00:01:39,2019-10-01 00:17:20,2215,940.0,20,Sheffield Ave & Kingsbury St,309,Leavitt St & Armitage Ave,Subscriber,Male,1987.0
1,25223641,2019-10-01 00:02:16,2019-10-01 00:06:34,6328,258.0,19,Throop (Loomis) St & Taylor St,241,Morgan St & Polk St,Subscriber,Male,1998.0
2,25223642,2019-10-01 00:04:32,2019-10-01 00:18:43,3003,850.0,84,Milwaukee Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Female,1991.0
3,25223643,2019-10-01 00:04:32,2019-10-01 00:43:43,3275,"2,350.0",313,Lakeview Ave & Fullerton Pkwy,290,Kedzie Ave & Palmer Ct,Subscriber,Male,1990.0
4,25223644,2019-10-01 00:04:34,2019-10-01 00:35:42,5294,"1,867.0",210,Ashland Ave & Division St,382,Western Ave & Congress Pkwy,Subscriber,Male,1987.0

In [14]:
df4.shape

(704054, 12)

In [15]:
#Checking if df3 and df4 have overlapping trip_id
df3['trip_id'].equals(df4['trip_id'])

False

In [16]:
#Checking if df1 and df3 have overlapping trip_id
df1['trip_id'].equals(df3['trip_id'])

False

In [17]:
#Checking if df1 and df4 have overlapping trip_id
df1['trip_id'].equals(df4['trip_id'])

False

In [18]:
#Checking if df1 and df2 have overlapping trip_id
df1['trip_id'].equals(df2['trip_id'])

False

In [19]:
#Checking if df2 and df3 have overlapping trip_id
df2['trip_id'].equals(df3['trip_id'])

False

In [20]:
#Checking if df2 and df4 have overlapping trip_id
df2['trip_id'].equals(df4['trip_id'])

False

In [28]:
#Merging csv of all four quarters
df2019 = pd.concat([df1,df2,df3,df4])

In [29]:
#Data of Year-2019
df2019.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0

In [30]:
df2019.shape

(3818004, 12)

In [36]:
#Dropping columns not required for visualisations
dfDivvy = df2019.drop(['bikeid','end_time','to_station_id','to_station_name'],axis=1)

In [37]:
dfDivvy.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,390.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,441.0,44,State St & Randolph St,Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,829.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,"1,783.0",123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,364.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0

In [38]:
dfDivvy.shape

(3818004, 8)

In [39]:
#Removing null values
dfDivvy1 = dfDivvy.dropna()

In [40]:
dfDivvy1.shape

(3258796, 8)

In [41]:
dfDivvy1.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,390.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,441.0,44,State St & Randolph St,Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,829.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,"1,783.0",123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,364.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0

In [42]:
#writing dataset to csv file
dfDivvy1.to_csv('Divvy_2019.csv',index = False)

In [43]:
#rest of the preprocessing is for the brushable scatterplot visualization

In [44]:
#reading the created csv file
df = pd.read_csv('Divvy_2019.csv')

In [45]:
df.shape

(3258796, 8)

In [46]:
df.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,390.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,441.0,44,State St & Randolph St,Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,829.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,"1,783.0",123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,364.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0

In [47]:
df['start_time'] = df['start_time'].astype('datetime64[ns]')

In [49]:
df.start_time.dt.month.value_counts()

8     483183
7     453660
9     416525
6     385672
10    328911
5     307569
4     229367
11    164969
3     152659
12    143583
1      99185
2      93513
Name: start_time, dtype: int64

In [50]:
df['usertype'].value_counts()

Subscriber    2914616
Customer       344180
Name: usertype, dtype: int64

In [51]:
df['gender'].value_counts()

Male      2400819
Female     857977
Name: gender, dtype: int64

In [52]:
df['usertype'].value_counts()

Subscriber    2914616
Customer       344180
Name: usertype, dtype: int64

In [54]:
df.dtypes

trip_id                       int64
start_time           datetime64[ns]
tripduration                 object
from_station_id               int64
from_station_name            object
usertype                     object
gender                       object
birthyear                   float64
dtype: object

In [55]:
df['tripduration'] = df['tripduration'].str.replace(',','')

In [57]:
df.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,390.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,441.0,44,State St & Randolph St,Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,829.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,1783.0,123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,364.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0

In [58]:
#converting tripduration values to integer
df['tripduration'] = df['tripduration'].astype(float).astype(int)

In [59]:
#converting trip duration from seconds to minutes
df['tripduration'] = round(df['tripduration']/60)

In [60]:
df.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,6.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,7.0,44,State St & Randolph St,Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,14.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,30.0,123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,6.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0

In [61]:
dfDivn = df.copy()

In [62]:
dfDivn.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,6.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,7.0,44,State St & Randolph St,Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,14.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,30.0,123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,6.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0

In [63]:
dfDivn.shape

(3258796, 8)

In [49]:
#dfDivn['start_time'] = dfDivn['start_time'].astype('datetime64[ns]')

In [64]:
dfDivn['hour'] = dfDivn.start_time.dt.hour
dfDivn.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear,hour
0,21742443,2019-01-01 00:04:37,6.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0,0
1,21742444,2019-01-01 00:08:13,7.0,44,State St & Randolph St,Subscriber,Female,1990.0,0
2,21742445,2019-01-01 00:13:23,14.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0,0
3,21742446,2019-01-01 00:13:45,30.0,123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0,0
4,21742447,2019-01-01 00:14:52,6.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0,0

In [65]:
dfDivn['hour'].value_counts()

17    422789
16    322624
8     293082
18    273200
7     230558
15    191387
19    176895
12    162082
13    158702
14    155634
9     146161
11    142358
10    117801
20    111945
6     104831
21     80009
22     55754
5      34326
23     32805
0      18090
1      10466
4       6954
2       6192
3       4151
Name: hour, dtype: int64

In [ ]:
#making new column called part of day based on hour at which the divvy ride started

In [66]:
def get_part_of_day(hour):
    return (
        "morning" if 5 <= hour <= 11
        else
        "afternoon" if 12 <= hour <= 17
        else
        "evening" if 18 <= hour <= 22
        else
        "night"
    )

In [67]:
dfDivn['Part_of_day'] = dfDivn['hour'].apply(lambda x: get_part_of_day(x))

In [68]:
dfDivn.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,birthyear,hour,Part_of_day
0,21742443,2019-01-01 00:04:37,6.0,199,Wabash Ave & Grand Ave,Subscriber,Male,1989.0,0,night
1,21742444,2019-01-01 00:08:13,7.0,44,State St & Randolph St,Subscriber,Female,1990.0,0,night
2,21742445,2019-01-01 00:13:23,14.0,15,Racine Ave & 18th St,Subscriber,Female,1994.0,0,night
3,21742446,2019-01-01 00:13:45,30.0,123,California Ave & Milwaukee Ave,Subscriber,Male,1993.0,0,night
4,21742447,2019-01-01 00:14:52,6.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0,0,night

In [69]:
dfDivn.shape

(3258796, 10)

In [70]:
dfDivn['Part_of_day'].value_counts()

afternoon    1413218
morning      1069117
evening       697803
night          78658
Name: Part_of_day, dtype: int64

In [71]:
#calculating age from birthyear
dfDivn["birthyear"] = dfDivn.birthyear.astype(float)

In [72]:
dfDivn["age"] = 2022-dfDivn['birthyear']

In [73]:
dfDivn.dtypes

trip_id                       int64
start_time           datetime64[ns]
tripduration                float64
from_station_id               int64
from_station_name            object
usertype                     object
gender                       object
birthyear                   float64
hour                          int64
Part_of_day                  object
age                         float64
dtype: object

In [74]:
dfDivn1 = dfDivn.drop(['birthyear'], axis = 1)

In [75]:
dfDivn1.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,hour,Part_of_day,age
0,21742443,2019-01-01 00:04:37,6.0,199,Wabash Ave & Grand Ave,Subscriber,Male,0,night,33.0
1,21742444,2019-01-01 00:08:13,7.0,44,State St & Randolph St,Subscriber,Female,0,night,32.0
2,21742445,2019-01-01 00:13:23,14.0,15,Racine Ave & 18th St,Subscriber,Female,0,night,28.0
3,21742446,2019-01-01 00:13:45,30.0,123,California Ave & Milwaukee Ave,Subscriber,Male,0,night,29.0
4,21742447,2019-01-01 00:14:52,6.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,0,night,28.0

In [76]:
dfDivn1.shape

(3258796, 10)

In [77]:
#removing outliers from tripduration
Divvydfil = dfDivn1[dfDivn1['tripduration']<=10000]

In [78]:
#removing outliers from age
Divvydfil = Divvydfil[Divvydfil['age']<=85]

In [79]:
Divvydfil.shape

(3257544, 10)

In [80]:
Divvydfil.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,hour,Part_of_day,age
0,21742443,2019-01-01 00:04:37,6.0,199,Wabash Ave & Grand Ave,Subscriber,Male,0,night,33.0
1,21742444,2019-01-01 00:08:13,7.0,44,State St & Randolph St,Subscriber,Female,0,night,32.0
2,21742445,2019-01-01 00:13:23,14.0,15,Racine Ave & 18th St,Subscriber,Female,0,night,28.0
3,21742446,2019-01-01 00:13:45,30.0,123,California Ave & Milwaukee Ave,Subscriber,Male,0,night,29.0
4,21742447,2019-01-01 00:14:52,6.0,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,0,night,28.0

In [81]:
#writing the dataset to csv file
Divvydfil.to_csv('Divvy_2019_Viz2.csv',index = False)

In [84]:
Divvydfil['Part_of_day'].value_counts()

afternoon    1412767
morning      1068668
evening       697491
night          78618
Name: Part_of_day, dtype: int64

In [85]:
Divvydfil['Part_of_day'].value_counts(normalize=True) * 100

afternoon    43.369084
morning      32.805942
evening      21.411560
night         2.413413
Name: Part_of_day, dtype: float64

In [91]:
sample = Divvydfil.groupby('Part_of_day').sample(frac=0.15).reset_index(drop=True)

In [92]:
sample['Part_of_day'].value_counts(normalize=True) * 100

afternoon    43.369127
morning      32.805941
evening      21.411556
night         2.413375
Name: Part_of_day, dtype: float64

In [93]:
sample.head()

,trip_id,start_time,tripduration,from_station_id,from_station_name,usertype,gender,hour,Part_of_day,age
0,24352385,2019-08-13 12:07:37,61.0,3,Shedd Aquarium,Customer,Male,12,afternoon,25.0
1,22051649,2019-03-14 14:17:06,6.0,195,Columbus Dr & Randolph St,Subscriber,Female,14,afternoon,22.0
2,25886662,2019-12-14 14:21:50,11.0,133,Kingsbury St & Kinzie St,Subscriber,Female,14,afternoon,60.0
3,24757437,2019-09-03 17:48:45,20.0,50,Clark St & Ida B Wells Dr,Subscriber,Male,17,afternoon,27.0
4,22144517,2019-03-27 12:49:28,8.0,253,Winthrop Ave & Lawrence Ave,Subscriber,Male,12,afternoon,30.0

In [94]:
sample.shape

(977262, 10)

In [95]:
sample.to_csv('Divvy_2019_Viz2_Sample.csv',index = False)